.popup__content {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-rows: 40px auto 40px;
  grid-template-columns: 40px auto 40px;
}
