.profile__add-button {
  margin: 0;
  padding: 0;
  grid-column: 3/4;
  background-color: transparent;
  border: none;
  align-self: center;
  width: 150px;
  height: 50px;
}

@media screen and (max-width: 707px) {
  .profile__add-button {
    margin: 33px 0 0 0;
    width: 282px;
  }
}
