.header {
  max-width: 880px;
  display: flex;
  margin: 0 auto 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}
@media screen and (max-width: 906px) {
  .header {
    padding: 0 27px 0 27px;
    max-width: 100%;
  }
}
